@using Laboris.ViewModels
@model OrderVm

@{
    double total = 0;
    double delivery = 15;
}




<!-- Page Banner Section Start -->
<div class="section page-banner-section" style="background-image: url(/assets/images/banner-main/banner-6.jpg)">
    <div class="container">
        <!-- Page Banner Content End -->
        <div class="page-banner-content">
            <h2 class="title">Checkout</h2>

            <ul class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home" class="text-light">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
        <!-- Page Banner Content End -->
    </div>
</div>
<!-- Page Banner Section End --
<!-- Checkout Section Start -->
<div class="section section-padding">
    <div class="container">


        <div class="checkout-info">


            <div class="collapse" id="login">
                <div class="card-body">
                    <p>
                        If you have shopped with us before, please enter
                        your details in the boxes below. If you are a
                        new customer, please proceed to the Billing &
                        Shipping section.
                    </p>

                    <form method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <input type="email" placeholder="Username or email *" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <input type="password" placeholder="Password" />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


        <form action="#">
            <div class="row">
                <div class="col-lg-7">
                    <!-- Checkout Form Start -->
                    <div class="checkout-form">
                        <div class="checkout-title">
                            <h4 class="title">Billing details</h4>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input asp-for="FirstName" placeholder="First name *" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input asp-for="LastName" placeholder="Last name *" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="single-select2">
                                    <div class="form-select2">
                                        <select class="select2">
                                            <option value="0">
                                                Select a city *
                                            </option>
                                            <option value="1">
                                                Bakı
                                            </option>
                                            <option value="2">
                                                Sumqayıt
                                            </option>
                                            <option value="3">
                                                Gəncə
                                            </option>
                                            <option value="4">
                                                Naxçıvan
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-form">
                                    <label class="form-label">Street address *</label>
                                    <input asp-for="AdressDistrc" placeholder="Şəhər / Rayon *" />
                                    <input asp-for="AdressStreet" placeholder="Ev nömrəsi / Küçə adı" />

                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="single-select2">
                                    <div class="form-select2">
                                        <select class="select2">
                                            <option value="">
                                                Select a District *
                                            </option>
                                            <option value="BGD">
                                                Xətai
                                            </option>
                                            <option value="NER">
                                                Nərimanov
                                            </option>
                                            <option value="NZM">
                                                Nizami
                                            </option>
                                            <option value="NSM">
                                                Nəsimi
                                            </option>
                                            <option value="XET">
                                                Binəqədi
                                            </option>
                                            <option value="XEZ">
                                                Xəzər
                                            </option>
                                            <option value="XRD">
                                                Xırdalan
                                            </option>
                                            <option value="YSM">
                                                Yasamal
                                            </option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-form">
                                    <input asp-for="Postcode" placeholder="Postcode / ZIP" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input asp-for="Phone" placeholder="Phone *" />

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input asp-for="EmailAdress" placeholder="Email address *" />
                                </div>
                            </div>

                            <div asp-validation-summary="All" style="color:red"></div>
                        </div>

                        <div class="single-form checkbox-checkbox">
                            <h6 class=" text-muted">Don't have an account?</h6>
                            <a class="" asp-controller="Account" asp-action="Register">Create an account now!</a>
                        </div>




                        <div class="checkout-shipping">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="single-form">
                                        <input asp-for="FirstName" placeholder="First name *" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="single-form">
                                        <input asp-for="LastName" placeholder="Last name *" />
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="single-form">
                                        <label class="form-label">Street address *</label>
                                        <input asp-for="AdressStreet" placeholder="Ev nömrəsi / Küçə adı" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-form">
                                        <input asp-for="AdressDistrc" placeholder="Şəhər / Rayon *" />
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="single-form">
                                        <input asp-for="Postcode" placeholder="Postcode / ZIP" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="single-form">
                                        <input asp-for="Phone" placeholder="Phone *" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="single-form">
                                        <input asp-for="EmailAdress" placeholder="Email address *" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-form checkout-note">
                            <label class="form-label" asp-for="Notes">Order notes</label>
                            <textarea placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                        </div>
                    </div>



                    <!-- Checkout Form End -->
                </div>
                <div class="col-lg-5">
                    <div class="checkout-order">
                        <div class="checkout-title">
                            <h4 class="title">Your Order</h4>
                        </div>

                        <div class="checkout-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="Product-name">
                                            Product
                                        </th>
                                        <th class="Product-price">
                                            Total
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (BasketItem item in ViewBag.BasketItems)

                                     {
                                            total += item.Count * item.Product.Price;
                                        <tr>
                                            <td class="Product-name">
                                                <p>
                                                    @item.Product.Name × @item.Count
                                                </p>
                                            </td>
                                            <td class="Product-price">
                                                <p>$@(item.Product.Price * item.Count)</p>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="Product-name">
                                                <p>Subtotal</p>
                                            </td>
                                            <td class="Product-price">
                                                <p>$ @total</p>
                                            </td>
                                        </tr>
                                     }


                                </tbody>
                                <tfoot>

                                    <tr>
                                        <td class="Product-name">
                                            <p>Shipping</p>
                                        </td>
                                        <td class="Product-price">
                                            <ul class="shipping-list">
                                                
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio2" />
                                                    <label for="radio2">
                                                        <span></span>
                                                        Free
                                                        Shipping
                                                    </label>
                                                </li>
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio3" />
                                                    <label for="radio3">
                                                        <span></span>
                                                        Local
                                                        Pickup (+$15)
                                                    </label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="Product-name">
                                            <p>Total</p>
                                        </td>
                                        <td class="total-price">
                                            <p>$@total</p>
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>

                        <div class="checkout-payment">
                            <ul>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="bank" />
                                            <label for="bank">
                                                <span></span> Direct
                                                bank transfer
                                            </label>

                                            <div class="payment-details">
                                                <p>
                                                    Please send a Check
                                                    to Store name with
                                                    Store Street, Store
                                                    Town, Store State,
                                                    Store Postcode,
                                                    Store Country.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="check" />
                                            <label for="check">
                                                <span></span> Check
                                                payments
                                            </label>

                                            <div class="payment-details">
                                                <p>
                                                    Please send a check
                                                    to Store Name, Store
                                                    Street, Store Town,
                                                    Store State /
                                                    County, Store
                                                    Postcode.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="cash" checked="checked" />
                                            <label for="cash">
                                                <span></span> Cash on
                                                Delivery
                                            </label>

                                        </div>
                                    </div>
                                </li>
                               
                            </ul>

                            <div class="single-form">
                                <button class="btn btn-primary btn-hover-dark d-block" type="submit">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Section End -->
